
<%= form_for(@store) do |f| %>
 <%= render 'shared/error_messages', :object => f.object %>
 <div class="field">
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit "submit" %>
  </div>
<% end %>