<p id="notice"><%= notice %></p>
<h1>pack detail</h1>
<br />
<p>Name, Pack ID, Series ID: <%= @series.name %>, <%= @pack.id %>, <%= @series.id %>
<br />Image: <%= @series.image %>
<br />Desc: <%= @series.description %>
<br />Packs: <%= number_with_delimiter @pack.quantity %>
<br />Tokens: <%= number_with_delimiter @series.tokens_per_pack %>
<br />Release date: <%= @series.release_date %>
<br /><br />
</p>